* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
main {
  padding: 4rem 0;
}

.container {
  max-width: 75rem;
  padding: 0 2rem;
  width: 100%;
  margin: auto;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left-side {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
}

.post-img {
  position: relative;
  padding-bottom: 56.2%;
}

.post-img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 200;
}
aside a {
  color: #cf2e2e;
  text-transform: lowercase;
  text-align: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  display: block;
  font-weight: 600;
}

.post-title h3 span:hover {
  border-bottom: 1px solid #cf2e2e;
}

.date {
  list-style: none;
  font-size: 0.6rem;
  padding: 0.5rem 0;
}

.post-inner-content {
  width: 100%;
  max-width: 640px;
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 1rem 0.5rem;
  z-index: 999;
  margin: auto;
  margin-top: 0;
  right: 0;
}

.right-side {
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  justify-content: space-between;
}

.post:not(:last-child) {
  margin-bottom: 3rem;
}

.number {
  width: 2rem;
}

.right-side-post-title {
  margin-left: 1rem;
}

.sub-title::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  margin-bottom: 2rem;
}

.sub-title h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: #ee2042;
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 1.4rem;
}
.trendingNews{
text-transform: uppercase;
  font-weight: 600;
  color: #ee2042;
  margin: 2rem 0 0 0;
  text-align: center;
}



@media (min-width: 62rem) {
  .hero-section {
    flex-direction: row;
  }
  .left-side {
    width: 70%;
    margin-bottom: 0;
  }
  .right-side {
    width: 27%;
  }
  .sub-title h2 {
    text-align: left;
  }
  .trendingNews{
    text-align: left;
  }
  .post-inner-content {
    margin-top: -3rem;
  }
}

.news-grid {
  display: flex;
  gap: 25px;
  /* padding: 10px; */
  padding: 4rem 0;
  flex-direction: column;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 1px 3px #88888833;
}

.card img {
  min-height: 200px;
}
.card h4,
.card div {
  padding: 5px 10px;
  margin: 0;
}

.date {
  display: flex;
}

.date p {
  margin: 0;
}
/* a{
    text-decoration: none;
}
a:visited{
    color: black;
    
} */

@media all and (min-width: 48rem) {
  .news-grid {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 31%;
  }
}

@media all and (min-width: 62rem) {
  .card h4,
  .card div {
    padding: 5px 0px;
  }
}
